*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    background-color: 080D10;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 130px;
    /* border: 1px solid #080D10; */
    background-color: #F5F5F5;
    margin-top: 40px;
}

img {
    height: 100%;
}

h1 {
    text-align: center;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    padding: 48px 227px 32px 97px;
}

.form_content {
    display: grid;
    gap: 32px;
}

.group {
    display: grid;
    gap: 24px;
}

.forms {
    display: inline-flex;
    flex-direction: column;
}

.forms_radio {
    max-width: 475px;
    display: flex;
    justify-content: space-between;
}

.forms_title {
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.54px;
    margin-bottom: 12px;
    display: inline-block;
}

.forms_input {
    max-width: 475px;
    color: #262626;
    padding: 10px 16px;
    font-size: 18px;
    letter-spacing: 0.48px;
    border: 1px solid #A6A6A6;
    outline: 0;
    background-color: #F5F5F5;
}

.forms_input::placeholder {
    color: #A6A6A6;
    font-size: 16px;
}

.forms_input:focus {
    border-color: #D61C75;
}

.forms_input ._textarea {
    resize: vertical;
    min-height: 80px;
}

.forms_title_radio {
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.48px;

}

.forms_input_radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    border: 1px solid #262626;
    transition: 0.2s all linear;
    outline: none;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.forms_input_radio:checked {
    border: 6px solid #D61C75;
}


.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 19px;
    top: 1px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #595959;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #D61C75;
}

input:focus+.slider {
    box-shadow: 0 0 1px #D61C75;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18x);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.forms_title_incog {
    color: #595959;
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-left: 10px;
}

.form_password {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #595959;
    font-size: 16px;
    letter-spacing: 0.48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form_password input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border: 1px solid #595959;
}

.form_password:hover input~.checkmark {
    border: 1px solid #D61C75;
}

.form_password input:checked~.checkmark {
    background-color: #D61C75;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button {
    margin-left: 253px;
}

.button a {
    color: #D61C75;
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 500;
    letter-spacing: 0.72px;
    padding: 10px 82px;
    border: 1px solid #000;
    transition: 0.4s all ease-in-out;
}

.button a:hover {
    color: #262626;
    border: 1px solid #D61C75;
}

.button a:active {
    background: #D61C75;
}